@media screen and (max-width:840px) {
    .dropdown-container{
        margin-left: 80%;
        margin-top: 10%;
    }
}

@media screen and (max-width:650px) {
    .dropdown-container{
        margin-left: 70%;
        margin-top: 12%;
    }
    .dropdown-item{
        font-size: 1rem;
    }
    .dropdown-button{
        font-size: 1rem;
    }
}

@media screen and (max-width:430px) {
    .dropdown-container{
        margin-left: 60%;
        margin-top: 15%;
    }
    .dropdown-item{
        font-size: 0.85rem;
        font-weight: 700;
    }
    .dropdown-button{
        font-size: 0.85rem;
        font-weight: 700;
    }

}

@media screen and (max-width:320px) {
    .dropdown-container{
        margin-left: 55%;
        margin-top: 18%;
    }
    .dropdown-item{
        font-size: 0.85rem;
        font-weight: 700;
    }
    .dropdown-button{
        font-size: 0.85rem;
        font-weight: 700;
    }

}